body {
    background-color: #f7f8f8;
};

.bordeTitulo {
    padding-top: 40px;
    padding-left: 24px;
    padding-bottom: 40px;
    padding-right: 24px;
}

<<<<<<< HEAD
h1 {
    color: #222;
    font-weight: lighter;
    font-family: 'Playfair Display', serif;
    font-size: 46px;
    padding-top: 4px;
    padding-bottom: 4px;
};

.top {
=======
.h1 {
    color: black;
    font-family:  'Playfair Display', serif;
    font-size: 46px;
};

.about {
>>>>>>> bfc82f68cb1bb92099c423ba57c8bc95d2ff6877
    display: inline-block;
}

.barraNegra {
    position: fixed;
    color: #f7f8f8;
<<<<<<< HEAD
    height: 80px;
=======
    height: 50px;
>>>>>>> bfc82f68cb1bb92099c423ba57c8bc95d2ff6877
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    background-color: black;
<<<<<<< HEAD
    font-family: 'Poppins', sans-serif;
    font-size: 16px !important;
    font-weight: 600 !important;
}
.hipervinculos {
    color: #f7f8f8;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
}

a:visited {
    color: #b5b5b5;
}
a:hover {
    color: #ffffff;
}
a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: none;
}
  
.fondo {
    position: fixed;
    padding-top: 70px;
    width: 100%;
}

.about {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #111;
    position: absolute;
    top: 40px;
    left: 20px;
}

.about:hover,
.contact:hover {
    color: gray;
}

.contact {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #111;
    position: absolute;
    top: 40px;
    left: 90px;
    
}
=======
    font-family: 'Poppins';
    font-size: 14px;
}

.hipervinculos {
    display: inline-block;
    font-family: 'Poppins';
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}
>>>>>>> bfc82f68cb1bb92099c423ba57c8bc95d2ff6877
